.venv/
build/
dist/
MANIFEST.in
visdatcompy/__pycache__/
*.egg-info
*.pyc
research/__pycache__/
research/_metrics_analyse.ipynb
static/logo.psd
datasets/_main_drone/
datasets/_main_cows/
datasets/_metrics_analyse/